<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>KNC-Market{% block title %} Accueil{% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {# JS bootstrap #}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {{ render(controller('App\\Controller\\ListCatController::recentArticles')) }}

        {% for label, messages in app.flashes %}

            <div class="container">
                <div class="alert alert-{{ label }}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

        {% endfor %}

        {% block body %}
        
        {% endblock %}

        {% include 'partials/footer.html.twig' %}

        {% block javascripts %}{% endblock %}

        <script>
            $('a[data-suppression]').click(function () {
                var lien = $(this).attr("data-suppression"); // recupère le lien du boutton "poubelle"
                console.log(lien);
                var message = $(this).attr("data-message"); // recupère le lien du boutton "poubelle"
                $("#btnSuppr").attr("href", lien); // on écrit ce lien sur le bouton "supprimer"
                $(".modal-body").text(message);
            });
        </script>
    </body>
</html>